
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>MANAGER CONSOLE</p>
    <br /><br /><br />
    <div >
        <a asp-action="GetAllBooks">Book List</a>
    </div>
    <br /><br />
    <div>
        <a asp-action="AddBook">Add a book</a>
    </div>
    <br /><br />
    <div >
        <a asp-action="GetAllLogs">Log History</a>
    </div><br /><br />
    <div>
        <a asp-action="AddLog">New Log</a>
    </div>
</div>

